@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&family=Roboto:wght@100;400;700&display=swap');

.container-body-publication {
    padding: 12px;
    font-family: Roboto, 'Droid Sans', Helvetica, sans-serif;
    height: 100px;
    border-bottom: 1px solid #dadde1;
}

.div-body-publication {
    font-size: 14px;
    color: #90949c;
}